nav {
    margin-bottom: 6em;
}

.title-schedule {
    text-align: center;
    margin: 0 auto 2em;
    font-size: 3.3rem;
    font-weight: 600;
    letter-spacing: .05rem;
}


table {
    margin: 0 auto 12em;
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    border-radius: var(--border-radius-img);
    background-color: whitesmoke;
    box-shadow: var(--box-shadow);
    padding: 5em;
}

th {
    padding: .5em .3em;
    border-bottom: 1px solid darkgray;
    letter-spacing: .05rem;
}

td {
    width: 30%;
    padding: .5em .3em;
    font-size: .9rem;
    letter-spacing: .05rem;
}


.title-classes {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.5rem;
}



.classes-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    width: 40%;
    margin: 0 auto 15em;
    border-radius: var(--border-radius-img);
    background-color: whitesmoke;
    box-shadow: var(--box-shadow);
    padding: 2em 5em 3em;

}

.classes-container .item-1,
.classes-container .item-2,
.classes-container .item-3,
.classes-container .item-4 {
    padding: 1em;
    align-self: start;
}


.classes-container .item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.classes-container .item-4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.classes-container .item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;    
}

.classes-container .item-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}



/* .class-descriptions {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;  
    font-size: 1.75rem;
} */

.class-descriptions h3 {
    color: var(--body-textcolor);
    font-size: 1.75rem;
    margin-bottom: .3em;
}

.class-descriptions p {
    color: var(--body-textcolor);
    font-weight: 300;
    font-size: 1.15rem;

}